:root {
  --black-text: #212121;
  --grey-text: #757575;
  --grey-text-op60: #ffffff99;
  --white-text: #FFFFFF;
  --blue-text: #2196F3;
  --background-main: #FFFFFF;
  --background-dark: #2F303A; 
  --background-light: #F5F4FA;  
  --card-set-gap: 30px;
  --border-grey: #EEEEEE;
  --grey-icon: #AFB1B8;
  --footer-back-icon: rgba(255, 255, 255, 0.1);

}

body {
  font-family: 'Roboto', sans-serif; 
  background-color: var(--background-main);
  color: var( --black-text);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo-black, .logo-white {
  color: var(--black-text);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

.logo-white, .foot-text, .join-title, .subscribe-title {
  color: var(--white-text);
}

.site-nav .link-nav {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--black-text);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav {
  position: relative;
}

.link-nav::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--blue-text);
  border-radius: 2px;
  opacity: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav.current::after{
  opacity: 1;
}

.header-addr {
  display: flex;
  align-items: center;
  color: var(--grey-text);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon {
  display: flex;
}

.hero-title {
  color: var(--white-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.adv-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.about-title, .team-title, .client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}

.team-content {
  background-color: var(--background-main);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  
  margin-bottom: 10px;
}

.team-prof {
  color: var(--grey-text);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-bottom: 16px;
}

.logo-blue, 
.site-nav .link-nav.current,
.site-nav .link-nav:hover, 
.site-nav .link-nav:focus, 
.header-addr:hover, 
.header-addr:focus {
  color: var(--blue-text);
}

.adv-content {
  color: var(--grey-text);
}

/* Общий контейнер*/
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*Шапка */
.header {
  min-width: 80px;
  border-bottom: 1px solid #ECECEC;
}

/* Hero */
.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-dark);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-btn {
  display: block;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;

  background-color: var(--blue-text);
  color: var(--white-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Преимущества */
.advantages {
  padding-top: 94px;
  padding-bottom: 0;
}

/* Чем мы занимаемся и Постоянные клиенты*/
.about, .client {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Наша команда */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-light);
}

/* Контакты */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-dark);
}

.foot-link {
  color: var(--grey-text-op60);
}

.foot-text {
  margin-top: 20px;
}

.foot-item {
  margin-top: 9px;
}

/* шапка с навигацией*/
.page-header {
  display: flex;
}

.nav-header {
  display: flex;
  align-items: center;
}

.list-header {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.list-header .header-item:not(:last-child) {
  margin-right: 50px;
}

.addr-header .addr:last-child {
  margin-left: 50px;
}

.addr-header {
  display: flex;
  margin-left: auto;
}

.addr-header .addr + .addr {
  margin-left: 50px;
}

/* Список преимуществ */
.list-adv {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.list-adv > .adv-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

/* Список Чем мы занимаемся */
.list-about {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.list-about > .about-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.about-item {
  position: relative;
  overflow: hidden;
}

.about-item .label {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 27px 82px;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);;
  color: var(--white-text);
}

/* Список сотрудников */
.list-team {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.list-team > .team-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* Постоянные клиенты*/
.list-client {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.list-client > .client-item {
  flex-basis: calc(100% / 6 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

/* Контакты*/
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/*.footer-contacts {
  margin-right: 70px;
}*/

/* portfolio */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-types {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-types .types:not(:first-child) {
  margin-left: 8px;
}

.btn-type {
  display: block;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;

  background-color: var(--background-light);
  color: var(--black-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.btn-type:hover, 
.btn-type:focus {
  background-color: var(--blue-text);
  color: var(--white-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-examples {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.list-examples > .examp-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);

  cursor: pointer;
  border: 1px solid var(--border-grey);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examp-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border: none;
}

.examp-item:hover .examp-overlay {
  transform: translateY(0);
  opacity: 1;
}

.item-content {
  padding: 20px 24px;
}

.item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.item-desc {
  color: var(--grey-text);
  font-size: 16px;
  line-height: 1.88;
}

/* Иконки */
.icon-addr {
  fill: var(--grey-text);
  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-addr:hover .icon-addr,
.header-addr:focus .icon-addr {
  fill: var(--blue-text);
}

.adv-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 270px;
  border-radius: 4px;
  background-color: var(--background-light);
  margin-bottom: 30px;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-social, .footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover,
.link-social:focus {
  background-color: var(--blue-text);
}

.join-title, .subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
 
  margin-bottom: 20px;
}

.list-join:not(last-child) {
  margin-right: 10px;
}

.join-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  background-color: var(--footer-back-icon);
}

.footer-social:hover,
.footer-social:focus {
  background-color: var(--blue-text);
}

.footer-icon {
  fill: var(--white-text);
}

.social-icon,
.client-icon {
  fill: var(--grey-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover .social-icon,
.link-social:focus .social-icon {
  fill: var(--white-text);
}
 
.link-client:hover .client-icon,
.link-client:focus .client-icon {
  fill: var(--blue-text);
}

.link-client:hover,
.link-client:focus {
  border: 1px solid var(--blue-text);
}

.link-client {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--grey-icon);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Форма на футере */
.subscribe-title {
  margin-bottom: 20px;
}

.subsc-input {
  width: 358px;
  margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  outline: none;

  background: transparent;

  /*color: var(--white-text);*/
  color: var(--grey-text-op60);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

}

.subsc-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 16px;
  
  color: rgba(255, 255, 255, 0.6);
}

.subsc-fields {
  display: flex;
}

.btn-subsc {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;

  background: var(--blue-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--white-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

.icon-send {
  margin-left: 10px;
}


/* Бекдроп */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);;
  opacity: 1; 
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;  
}

.backdrop.is-hidden .modal-window {
  transform: translateX(-50%) translateY(-50%) scale(1.25);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1);
  overflow-y: auto;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--white-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;

  background-color: var(--background-main);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;

}

.modal-close:hover .icon-close, 
.modal-close:focus .icon-close {
  fill: var(--blue-text);
}

.icon-close {
  fill: var(--black-text);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Форма на модалке*/
.form {
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 12px;
}

.form-field {

  /* outline: 1px solid blue; */
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field .form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey-text);

  margin-bottom: 4px;
}

.form-field .form-input {
  width: 100%;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  color: var(--grey-text);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field .form-comment {
  resize: none;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  color: var(--grey-text);
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form .input-wrapper {
  position: relative;
}

.form .form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.form .form-input:focus + .form-icon {
  fill: var(--blue-text);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form .form-input:focus {
  box-shadow: 0 0 0 1px var(--blue-text);
}

.form .form-comment:focus {
  box-shadow: 0 0 0 1px var(--blue-text);
}

/* Чекбокс */
.checkbox-wrapper {
  position: relative;
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.check-icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);

  border: 2px solid #2a2a2a;
  border-radius: 2px;
  cursor: pointer;
}

.check-icon .use-icon {
  display: none;
}

.checkbox:checked + .check-icon {
  border: none;
}

.checkbox:checked + .check-icon .use-icon {
  display: block;
}

.label-agree {
  color: var(--grey-text);
  cursor: pointer;
}

.text-agree {
  margin-left: 37px;
}

.agree-blue {
  text-decoration: underline;
  color: var(--blue-text);
}

/* Кнопка отправки формы */
.btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;

  background: var(--blue-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--white-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-submit:hover,
.btn-submit:focus {
  background-color: #188CE8;
}

/* Портфолио Карточки с оверлеем */
.examp-thumb {
  position: relative;
  overflow: hidden;
}

.examp-thumb .examp-overlay {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.desc-overlay {
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text);
}

